@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: rgb(217, 111, 44);
  --color-primary-content: rgb(245, 246, 250);
  --color-secondary: rgb(138, 102, 68);
  --color-secondary-content: rgb(138, 102, 68);

  --color-accent: rgb(196, 83, 63);
  --color-accent-content: rgb(102, 51, 36);
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: rgb(95, 94, 85);
  --color-primary-content: rgb(245, 246, 250);
  --color-secondary: rgb(70, 68, 66);
  --color-secondary-content: rgb(180, 175, 170);
  --color-accent: rgb(170, 85, 65);
  --color-accent-content: rgb(102, 51, 36);
}